@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&family=Space+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', sans-serif;
  background-color: #F8EEE7;
}

.login-link {
  text-decoration: none;
  font-weight: 700;
  color:#323436;
  text-decoration: underline;
}

label {
  font-weight: 700;
}

.login-container {
  padding-top: 10em;
}

.login-block {
  background-color: #F3B366;
  color: #555A5F;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
}

.form-field {
  border-style: none;
  border-bottom: 3px solid #555A5F;
  background-color: transparent;

}

.form-field:focus{
  border-color: #49274A;
  background-color: transparent;

}

.login-button {
  border-radius: 16px;
}

.confirm-button {
  background-color: #4369b4;
  color: #FAFAFA; 
}

.cancel-button {
  background-color: #d35650;
  color: #FAFAFA;
}

.confirm-button:hover {
  background-color: #224EA5;
}

.cancel-button:hover {
  background-color: #C03A33;
}